@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap");

* {
   padding: 0rem;
   margin: 0rem;
}

html {
   font-size: 62.5%;
   font-family: "League Spartan", sans-serif;
   line-height: 1.3;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

// body {
//    background: linear-gradient(141deg, #fff 0%, #f7f7f7 51%, #fff 75%);
// }
button {
   cursor: pointer;
}

li {
   list-style-type: none;
}
a {
   text-decoration: none;
}

$main-color: #7854f7;
$main-color-light: #9376f9;
$main-color-dark: #181131;
