@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap");

*,
*::after,
*::before {
   padding: 0rem;
   margin: 0rem;
}

html {
   font-size: 62.5%;
   font-family: "League Spartan", sans-serif;
   line-height: 1.3;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

button {
   cursor: pointer;
}

li {
   list-style-type: none;
}
a {
   text-decoration: none;
}

$main-color: #7854f7;
$main-color-light: #9376f9;
$main-color-dark: #181131;

.observer {
   opacity: 0;
   transition: 1s;
   transform: translateY(4rem);
}
.observer-active {
   opacity: 1;
   transform: translateY(0rem);
}
.lazy-img {
   filter: blur(20px);
   transition: 1s;
}
