@mixin btn {
   &:hover {
      background-color: #543bad;
      color: white;
   }

   &:active {
      background-color: #3c2a7c;
   }
   padding: 1.2rem 2rem;
   font-size: 1.4rem;
   background-color: $main-color;
   color: white;
   border: none;
   border-radius: 5px;
   border: 2px solid transparent;
   transition: 0.5s all;
}
